name: Build snapshot version and upload to Maven Central

on:
  push:
    branches: [ "main" ]

jobs:
  snapshot:
    # only run for this repository and not on forked ones
    if: github.repository == 'project-ncl/pnc-common'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    # Cache m2 repository
    - name: Cache local Maven repository
      uses: actions/cache@v5
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    # https://github.com/marketplace/actions/maven-setings-action
    - name: Maven Settings
      uses: s4u/maven-settings-action@v4.0.0
      with:
        sonatypeSnapshots: true
        githubServer: false
        servers: |
            [{
                "id": "central-publisher",
                "username": "${{ secrets.SONATYPE_USERNAME }}",
                "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]
    - name: Extract Project version
      id: project-version
      run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"
    - name: Deploy Snapshot
      # Only run for snapshot version and not for commits with released versions
      if:  ${{ endsWith(steps.project-version.outputs.version, '-SNAPSHOT') }}
      run: mvn -B -V org.apache.maven.plugins:maven-source-plugin:jar-no-fork deploy
